@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 100%; /*1rem = 16px;*/

  @media all and (max-width: 2000px) {
    font-size: 87.5%; /*1rem = 14px;*/
  }

  @media all and (max-width: 1700px) {
    font-size: 75%; /*1rem = 12px;*/
  }

  @media all and (max-width: 1440px) {
    font-size: 62.5%; /*1rem = 10px;*/
  }

  @media all and (max-width: 650px) {
    font-size: 56.25%; /*1rem = 9px;*/
  }
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

input {
  font-size: 16px !important;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

#customers {
  /* font-family: Arial, Helvetica, sans-serif; */
  border-collapse: collapse;
  width: 100%;
}

#customers td,
#customers th {
  border: 1px solid #555335;
  padding: 8px;
}

#customers tr:nth-child(even) {
  background-color: rgba(67, 104, 80);
  color: #eef0e5;
}

#customers tr:nth-child(odd) {
  color: #555335;
}

/* #customers tr:hover {
  background-color: #eef0e5;
} */

#customers th {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-align: center;
  background-color: rgba(67, 104, 80);
  color: white;
}

.position-item-row {
  color: white;
}

@keyframes titleAnimation {
  0% {
    transform: translateX(-40%);
    opacity: 0;
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
  }

  20% {
    transform: translateX(0);
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  80% {
    transform: translateX(0);
    opacity: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
  }

  100% {
    opacity: 1;
  }
}

.logo-animation {
  animation: titleAnimation 3s ease-in;
}

/* toatisfy styles */
.Toastify__toast {
  width: 30rem;
  font-size: 1.6rem;

  @media all and (max-width: 700px) {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
  }
}

.Toastify__toast-theme--light {
  color: 'rgba(67, 104, 80)' !important;
}

.Toastify__toast-body > * {
  color: 'red' !important;
}

.task-item {
  padding: 1rem 0;
  color: #949494;
  font-weight: 600;
}

/* clip manage investments */
.invest-text-clip {
  clip-path: polygon(0 0, 100% 0%, 95% 100%, 0% 100%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}
.swiper-pagination-bullet {
  background-color: bisque !important;
}
.swiper-pagination-bullet-active {
  background: rgba(210, 183, 116, 1) !important;
}
